<div id="header">
	<span class="logo icon fa-paper-plane"></span>
	<div id="header" class="container">

		
		<h1 id="logo"><a href="index.html">Telephasic</a></h1>

		
		<nav id="nav">
			<ul>
				<li>
					<a href="#">Dropdown</a>
					<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Magna phasellus</a></li>
						<li><a href="#">Etiam dolore nisl</a></li>
						<li>
							<a href="#">Phasellus consequat</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Phasellus consequat</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
							</ul>
						</li>
						<li><a href="#">Veroeros feugiat</a></li>
					</ul>
				</li>
				<li><a href="left-sidebar.html">Left Sidebar</a></li>
				<li class="break"><a href="right-sidebar.html">Right Sidebar</a></li>
				<li><a href="no-sidebar.html">No Sidebar</a></li>
			</ul>
		</nav>

	</div>

	<h1>Привіт </h1>
	<h1>Ти на знаходешся на мої курсовій роботі</h1>
	<p>
		A responsive HTML5 + CSS3 site template designed by <a href="http://html5up.net">HTML5 UP</a>
		<br />
		and released for free under the <a href="http://html5up.net/license">Creative Commons license</a>.
	</p>
</div>