<div id="header">
	<span class="logo icon fa-paper-plane"></span>
	<h1>Привіт </h1>
	<h1>Ти на знаходешся на мої курсовій роботі</h1>
	<p>
		A responsive HTML5 + CSS3 site template designed by <a href="http://html5up.net">HTML5 UP</a>
		<br />
		and released for free under the <a href="http://html5up.net/license">Creative Commons license</a>.
	</p>
</div>